@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.001 106.423);
  --color-base-200: oklch(97% 0.001 106.424);
  --color-base-300: oklch(92% 0.003 48.717);
  --color-base-content: oklch(26% 0.007 34.298);
  --color-primary: oklch(54% 0.245 262.881);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(59% 0.293 322.896);
  --color-secondary-content: oklch(96% 0.015 12.422);
  --color-accent: oklch(54% 0.281 293.009);
  --color-accent-content: oklch(97% 0.017 320.058);
  --color-neutral: oklch(21% 0.034 264.665);
  --color-neutral-content: oklch(97% 0.013 236.62);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.1875rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

