<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  @include('partials/seo')

  @vite(['resources/css/app.css', 'resources/js/app.js'])
  @stack('dumper')
</head>

<body class="min-h-screen relative overflow-hidden bg-base-200">

  <section class="hero min-h-screen relative">
    <div class="flex flex-col justify-center items-center h-full">
      <div class="card card-border card-sm bg-base-100 border-base-300 max-w-sm w-full">
        <div class="card-body border-b border-base-300">
          <h1 class="text-lg font-semibold tracking-wide
">kyle.cloud</h1>
        </div>
        <div class="card-body">
          <p class="text-sm opacity-70">Bespoke cloud solutions for your business.</p>
        </div>
        <div class="card-body border-t border-base-300">
          <div class="flex flex-row justify-start items-center flex-wrap gap-2">
            <div class="badge badge-sm badge-neutral badge-soft">Dashboards</div>
            <div class="badge badge-sm badge-neutral badge-soft">APIs</div>
            <div class="badge badge-sm badge-neutral badge-soft">Automation</div>
            <div class="badge badge-sm badge-neutral badge-soft">Integrations</div>
            <div class="badge badge-sm bg-orange-500 text-white badge-softX">AWS</div>
            <div class="badge badge-sm badge-primary badge-softX">PostgreSQL</div>
            <div class="badge badge-sm badge-primary badge-softX">NodeJS</div>
            <div class="badge badge-sm badge-accent badge-softX">React</div>
            <div class="badge badge-sm badge-accent badge-softX ">Vue</div>
          </div>
        </div>
        <div class="card-body border-t border-base-300 flex-row justify-end">
          <div class='btn btn-sm btn-neutral' onclick="contact_modal.showModal()">
            Message me
          </div>
          </form>
        </div>


        <!-- Open the modal using ID.showModal() method -->
        <dialog id="contact_modal" class="modal">
          <div class="modal-box max-w-sm">
            <form class="" action="/contact" method="POST">
              {{ csrfField() }}

              <fieldset class="fieldset w-full">
                <legend class="fieldset-legend pt-0">Name</legend>
                <input type="text" name="name" class="input w-full" placeholder="Name" required autocomplete="name" />
              </fieldset>

              {{-- Email --}}
              <fieldset class="fieldset w-full">
                <legend class="fieldset-legend">Email</legend>
                <input type="email" class="input w-full" placeholder="Email" required autocomplete="email" />
              </fieldset>

              <fieldset class="fieldset w-full">
                <legend class="fieldset-legend">Message</legend>
                <textarea name="message" class="textarea h-24 w-full" placeholder="Your message here..."
                  required></textarea>
              </fieldset>


              <div class="flex flex-row justify-end mt-5">

                <button class='btn btn-sm btn-neutral'>
                  Submit
                </button>
              </div>
            </form>
          </div>
          <form method="dialog" class="modal-backdrop">
            <button>close</button>
          </form>
        </dialog>

      </div>

      @if(successMessage)
      <div class="alert alert-success alert-soft w-full mt-5">
        {{ successMessage }}
      </div>
      @endif

  </section>
</body>

</html>


</body>

</html>